body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 1.7;
}
header {
    margin: 0;
    color: blueviolet;
    margin: 3px;
}
main {
    margin: 20px;
    background-color: beige;

}
header h1 {
    color: red;
    text-align: center;
    text-decoration: None;
}
section h2 {
    color: gray;
    height: auto;
    text-align: center;
}
footer h1 {
    text-align:center;
    color: red;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: antiquewhite;
}